p.cajas{
    margin: 10px;
    width: 300px;
    padding: 20px;
    border: solid green 20px;

}
p.overflow{
    background-color: #eee;
    width: 200px;
    height: 100px;
    overflow: visible
    ;
}