p[name]{
    background: yellow;
}
p[name="p1"]{
    background: red;
}
p[name="p2"]{
    background: green;
}
p[name="p3"]{
    background: grey;
}
p[name="p4"]{
    background: purple;
}
p[name="p5"]{
    background: orange;
}
p{
    font-size: 15px;
}
p.hola:hover{
    font-size: 30px;
}
span p:nth-child(odd){
    background:grey;
}
span p:nth-child(even){
    background: red;
}
