body{
    background-image: url("../img/klematis.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
body, html {
    height: 100%;
}
div p{
    border: 1px solid black;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}